body {
    background-color: #f0e68c;
    font-family: 'Indie Flower', cursive, Arial, Helvetica, sans-serif;
}

.login-container {
    margin-top: 100px;
    padding: 20px;
    background-color: #fffacd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.login-container h2 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: #d2691e;
}

.form-group label {
    font-weight: bold;
    color: #d2691e;
}

.form-control {
    border: 1px solid #d2691e;
    border-radius: 5px;
}

.btn-primary {
    background-color: #d2691e;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.btn-primary:hover {
    background-color: #8b4513;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer a {
    color: #d2691e;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.control-buttons button {
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.control-buttons button:hover {
    transform: scale(1.1);
}